body {
  width: 90%;
  margin: 0 5%;
  font-family: 'dancing script',cursive;
  background-color: #02010a;
  animation: entrada 2s;

}

@keyframes entrada {
  0% {
margin-top: 150%
}
60% {
margin-top: -5%
}
100% {
margin-top: 0%
}
}

#contenido {
  width: 900px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  display: -webkit-flex;
  webkit-flex-direction: column;
  display: -moz-flex;
  -moz-flex-direction: column;
  animation: sliderin 1s;
}

img {
  box-shadow: 2px 2px 2px #02010a;
}



header {
  width: 100%;
  height: 95px;
  background-color: #5b7989;
  border-radius: 10px 10px 0px 0px;
  animation: slidein 1s;
}

header h1 {
  float: left;
  margin-left: 10px;
  margin-top: 25px;
  padding: 0;
  color: white;
  text-shadow: 2px 2px 2px #02010a;
  font-size: 2em;
  letter-spacing: 2px;

}

nav {
  float: right;
  margin-top: 15px;
  width: 33%;
}

ul{
  margin: 0;
  overflow: none;
  height: 100%;
  list-style-type: none;



}

li{
  margin-right: 20px;
  padding: 20px 0;
  float: left;
  display: block;
  font-size: 1.5em;


}

li a {
  color: white;

}

li a.sinlinea:link {
  text-decoration: none;
}



article {
  box-sizing: border-box;
  float: left;
  height: 100%;
  padding: 2%;
  text-align: center;
  height: 350px;
}

#principal {
  width: 100%;
  height: auto;
  background-color: #82c3a6;

}


#principal img {
  width: 90%;
  margin-bottom: 5px;
  margin-top: 10px;

}


#imagenizq {
  width: 50%;
  height: 330px;
  background-color: #d5c75f;

}



#imagenizq .izquierda {
  width: 90%;
  height: 90%;
  transition: transform, 1s;

}

#imagenizq img:hover {
  transform: rotate(10deg);
  border: 2px solid #82c3a6;

}

#imagender {
  width: 50%;
  height: 330px;
  background-color: #d5c75f;

}

#imagender .derecha {
  width: 90%;
  height: 90%;
  transition: transform, 1s;
}

#imagender img:hover {
  transform: translate(20px, -5px);
  border: 2px solid #82c3a6;
}

h3 {
  margin: auto;
}

#foto {
  width: 33.33%;
  height: auto;
  background-color: #d5c75f;

}

#foto .normal {
  width: 90%;
  height: 90%;


}

#foto .blur {
  width: 90%;
  height: 90%;
  -webkit-filter: blur(10px);
  filter: blur(10px);

}

#foto .grises {
  width: 90%;
  height: 90%;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);

}

#foto .sepia {
  width: 90%;
  height: 90%;
  -webkit-filter: sepia(90%);
  filter: sepia(90%);

}



#contenedor3 {
  display: flex;
	display: -webkit-flex;
	flex-direction: row;
	-webkit-flex-direction: row;
  background-color: #C6d5c5;
  width: 100%;
  border-radius: 0px 0px 10px 10px;
  font-size: 1em;


}



#contenedor3 .boxfooter {

  width: 25%;
  margin: 0;
  padding: 20px;


}
.social {
  display: flex;
	flex-direction: row;
	width: 25%;
  margin: 5%;

}

.social img {
  width: 20px;
  height: 20px;
  margin-right: 20%;
  box-shadow: none;
}

.social a{
  margin-right: 10px;
  color: black;
  text-decoration: none;
}

@media screen and (max-width:900px){
  header{
    height: auto;
    display: flex;
    flex-direction:column;
    width: 100%;

  }

  nav {
    width: 100%;
    margin-bottom: 10px;


  }

  ul {

    display: flex;
    flex-direction:row;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    padding: 0;
  }

  li {
    width: 100%;
    padding: 0;
    margin: 0;
    font-size: 1.5em;
  }

  header h1 {
    margin-top: 10px;
    text-align: center;
    font-size: 2em;


  }

  #contenido{
    width: 100%;
    margin: 0 auto;
    font-size: 1rem;
  }

  #principal {

    width: 100%;
    height: 100%;

  }


  #imagenizq {

    width: 100%;
    height: auto;

  }

  #imagender {

    width: 100%;
    height: auto;

  }

  #contenedor3 {
    width: 100%;
    display: flex;
    flex-direction: column;

  }

  #contenedor3 .boxfooter {
    width: 90%;

  }

  #foto {
    width: 100%;
    height: auto;
  }

  #foto img {
    width: 100%;
    height: auto;
  }
