body {
  width: 90%;
  margin: 0 5%;
  font-family: 'dancing script',cursive;
  background-color: #02010a;

}

img {
  box-shadow: 2px 2px 2px #02010a;
}

header {
  width: 100%;
  height: 70px;
  background-color: #5b7989;
  border-radius: 10px 10px 0px 0px;
  animation: slidein 1s;
}

header h1 {
  float: left;
  margin-left: 3px;
  padding: 0;
  color: white;
  text-shadow: 2px 2px 2px #02010a;
  font-size: 1.5em;
  letter-spacing: .1em;
}

nav {
  float: right;
  width: 40%;
}
ul{
  margin: 0;
  overflow: none;
  height: 100%;
  list-style-type: none;

}

li{
  margin: 0;
  padding: 20px 0;
  float: left;
  display: block;
  color: white;
  font-size: 1.5em;
  text-decoration-line: none;
}

#contenido {
  width: 900px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  display: -webkit-flex;
  webkit-flex-direction: column;
  display: -moz-flex;
  -moz-flex-direction: column;
  animation: sliderin 1s;
}

#cuerpo {
  width: 100%;
  height: 440px;
  background-color: #82c3a6;
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
  webkit-flex-direction: row;
}
